/* цветовые настройки для переменной */
:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primari-black-color: #000000;
  --background-color: #f5f4fa;
  --secondary-background-color: #2f303a;
  --svg-client-color: #afb1b8;

  /* переменная для кубика */
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

/* общие настройки стиля текста*/
* {
  list-style: none;
  text-decoration: none;
  font-family: "roboto", sans-serif;
  color: var(--primary-text-color);
}

/*контейнер*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid orange; */
}

/*шапка*/

.header-items {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-black-color);
}

.logo-span {
  font-family: "Raleway";
  color: var(--accent-color);
}

.header-nav .item:not(:last-child) {
  margin-right: 50px;
}

.header-nav {
  display: flex;
  margin: 0 0 0 94px;
  padding: 32px 0;
  align-items: center;

  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.header-nav .link,
.contacts-header .link {
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.envelope-icon,
.smartphone-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.header-nav .link:hover,
.header-nav .link:focus,
.contacts-header .link:hover,
.contacts-header .link:focus,
.current {
  color: var(--accent-color);
}

.current {
  position: relative;

  color: var(--accent-color);
}

.current::after {
  content: "";
  display: block;

  position: absolute;
  left: 0px;
  bottom: 0px;

  width: 100%;
  height: 5px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts-header {
  display: flex;
  margin: 0 0 0 auto;
  padding: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.contacts-header .link {
  fill: var(--second-text-color);
  color: var(--second-text-color);
  justify-content: center;
  align-items: center;
}

.contacts-header .item + .item {
  margin-left: 50px;
}

.envelope-icon,
.smartphone-icon {
  margin-right: 10px;
}

.contacts-icon {
  display: flex;
}

.contacts-icon:hover,
.contacts-icon:focus {
  fill: var(--accent-color);
}

/*герой-контейнер*/

.hero {
  width: 100%;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  padding: 40px;

  background-color: var(--primary-white-color);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.modal-close {
  position: absolute;
  top: 0%;
  right: 0%;

  width: 30px;
  height: 30px;

  padding: 0px;
  margin-top: 7px;
  margin-right: 8px;
  box-sizing: border-box;

  border-radius: 50%;
  border: solid 0px;
  border-color: var(--primary-white-color);

  background-color: var(--primary-white-color);
}

.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.close-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.modal-close:hover .close-icon,
.modal-close:focus .close-icon {
  fill: var(--accent-color);
}

.name,
.telephone,
.email,
.textarea {
  display: flex;
  text-align: left;
  margin-bottom: 4px;

  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--second-text-color);
  box-sizing: content-box;
}

.name {
  width: 25px;
}
.telephone {
  width: 50px;
}
.email {
  width: 35px;
}
.textarea {
  width: 80px;
}

.name-relative,
.telephone-relative,
.email-relative {
  position: relative;
}

.name-icon,
.email-icon {
  position: absolute;
  left: 12px;
  top: 28px;
}

.telephone-icon {
  position: absolute;
  left: 11px;
  top: 28px;
}

.name-input,
.telephone-input,
.email-input {
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 0 0 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.name-icon,
.email-icon,
.telephone-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.name-input:focus,
.telephone-input:focus,
.email-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.name-input:focus + .name-icon,
.telephone-input:focus + .telephone-icon,
.email-input:focus + .email-icon {
  fill: var(--accent-color);
}

.email-input:invalid {
  border-color: red;
}

.email-input:invalid + .email-icon {
  fill: red;
}

.textarea-input {
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  resize: none;
  outline: none;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.textarea-input:focus {
  border-color: var(--accent-color);
}

.checkbox {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--second-text-color);
}

.checkbox-link {
  margin-left: 5px;
  margin-bottom: 2px;

  color: var(--accent-color);
  text-decoration-line: underline;
}

.checkbox-div {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 12px;
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-span {
  display: inline-block;
  margin-right: 7px;

  width: 16px;
  height: 15px;
  color: #212121;
  border: 2px solid var(--primari-black-color);
  border-radius: 2px;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.checkbox-input:checked + .icon-span {
  background-image: url(../images/icons/check.svg);
  background-color: var(--accent-color);
  background-size: cover;
  background-origin: border-box;
  border: none;
}

.modal-submit {
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--primary-white-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.hero-title {
  width: 696px;
  margin: 0px auto 30px;
  padding: 0;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.hero-button {
  display: inline-block;
  height: 50px;
  min-width: 200px;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* раздел - особенности */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-icon {
  background-color: var(--background-color);
  padding: 25px 100px;
  margin-bottom: 30px;
}

.features-list {
  display: flex;

  margin: 0;
  padding: 0;
}

.features-list .item + .item {
  margin-left: 30px;
}

.features-list .item {
  width: 270px;
}

.features-list p {
  margin: 0;
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-title {
  padding: 0;
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*раздел - чем мы занимаемся*/
.visual-features {
  padding-bottom: 94px;
}

.visual-features h2 {
  margin: 0 0 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.visual-items {
  margin: 0;
  padding: 0;
  display: flex;
}

.visual-items img {
  display: block;
}

.visual-items .item + .item {
  margin-left: 30px;
}

.relative-div {
  position: relative;
}

.absolute-div {
  position: absolute;
  bottom: 0%;
}

.features-item {
  margin: 0;
  display: block;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.box-1 {
  padding: 27px 83px 27px 82px;
  background-color: rgba(47, 48, 58, 0.8);
}

.box-2 {
  padding: 27px 85px;
  background-color: rgba(47, 48, 58, 0.8);
}

.box-3 {
  padding: 27px 90px 27px 91px;
  background-color: rgba(47, 48, 58, 0.8);
}

/*наша команда*/
.team {
  background-color: var(--background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.team-list img {
  display: block;
  margin-bottom: 30px;
}

.team-list .item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item + .item {
  margin-left: 30px;
}

.team h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-member {
  margin: 0 0 10px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-profession {
  margin: 0 0 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.team-icon {
  display: flex;
  padding: 0px 32px 30px;
}

/* team-icons */
.icon-svg .instagram-path-1,
.icon-svg .instagram-path-2,
.icon-svg .instagram-path-3,
.icon-svg .instagram-path-4,
.icon-svg .twitter-path-1,
.icon-svg .twitter-path-2,
.icon-svg .facebook-path-1,
.icon-svg .facebook-path-2,
.icon-svg .linkedin-path-1,
.icon-svg .linkedin-path-2,
.icon-svg .linkedin-path-3,
.icon-svg .linkedin-path-4 {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.team-icon .icon + .icon {
  margin-left: 10px;
}

.icon-svg:hover .instagram-path-1,
.icon-svg:hover .twitter-path-1,
.icon-svg:hover .facebook-path-1,
.icon-svg:hover .linkedin-path-1 {
  fill: var(--accent-color);
}

.icon-svg:hover .instagram-path-2,
.icon-svg:hover .instagram-path-3,
.icon-svg:hover .instagram-path-4,
.icon-svg:hover .twitter-path-2,
.icon-svg:hover .facebook-path-2,
.icon-svg:hover .linkedin-path-2,
.icon-svg:hover .linkedin-path-3,
.icon-svg:hover .linkedin-path-4 {
  fill: var(--primary-white-color);
}

.icon-svg {
  width: 44px;
  height: 44px;
}

/* постоянные клиенты */
.clients h2 {
  margin: 0 0 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.client-list {
  display: flex;
  margin: 0;
  padding: 0 0 94px;
  justify-content: center;
  align-items: center;
}

.client {
  width: 170px;
  height: 90px;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgb(175, 177, 184);
}

.client-1 {
  padding: 20px 63px 21px;
  margin-right: 30px;
}

.client-2 {
  padding: 19px 65px 19px;
  margin-right: 30px;
}

.client-3 {
  padding: 24px 64px 23px 65px;
  margin-right: 30px;
}

.client-4 {
  padding: 24px 45px 24px;
  margin-right: 30px;
}

.client-5 {
  padding: 22px 55px 21px 56px;
  margin-right: 30px;
}

.client-6 {
  padding: 22px 41px 23px;
}

.client-list a {
  display: inline-block;
  fill: var(--svg-client-color);

  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.client-list .client:hover,
.client-list .client:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* подвал */

.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: inline-block;
  margin: 0 0 20px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer-address a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer-list {
  margin: 0 82px 0 0;
  padding: 0;
}

.footer-list a {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.footer-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address a:hover,
.footer-address a:focus {
  color: var(--accent-color);
}

.footer-address .address {
  color: var(--primary-white-color);
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.footer-join {
  margin-bottom: 20px;
  margin-left: 155px;
  margin-top: 0px;

  color: var(--primary-white-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.address-flex {
  display: flex;
}

.footer-icons {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-icons .item + .item {
  margin-left: 10px;
}

.mail {
  display: flex;
  width: 570px;
  margin-left: 95px;
}

.mail-log {
  margin-left: 153px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.mail-input {
  display: flex;
  width: 358px;
  height: 50px;
  padding: 15px 0 15px 16px;
  align-items: center;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: var(--secondary-background-color);

  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.mail .mail-input:invalid {
  border-color: red;
}

.mail-input:focus {
  border-color: var(--accent-color);
  outline: 0;
}

.mail-button {
  display: flex;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  margin-left: 12px;
  align-items: center;
  text-align: center;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--primary-white-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.mail-button:focus {
  border: solid 1px;
  border-color: var(--primary-white-color);
}

.send-icon {
  margin-left: 10px;
}

/* footer-icons */
.icon-svg .facebook-footer-1,
.icon-svg .facebook-footer-2,
.icon-svg .instagram-footer-1,
.icon-svg .twitter-footer-1,
.icon-svg .linkedin-footer-1 {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.icon-svg .facebook-footer-1,
.icon-svg .instagram-footer-1,
.icon-svg .twitter-footer-1,
.icon-svg .linkedin-footer-1 {
  fill: rgba(255, 255, 255, 0.1);
}

.icon-svg:hover .instagram-footer-1,
.icon-svg:hover .twitter-footer-1,
.icon-svg:hover .linkedin-footer-1,
.icon-svg:hover .facebook-footer-1 {
  fill: var(--accent-color);
}

/* <-------страница-портфолио---------> */

/* навигация */

.portfolio-filter a {
  display: inline-block;
  padding: 11px 22px;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--background-color);
}

.portfolio-filter .item + .item {
  margin-left: 8px;
}

.portfolio-filter {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 0 50px;
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

/*портфолио контент*/

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-filter a {
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.portfolio-filter a:hover,
.portfolio-filter a:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio-title {
  margin: 0 0 4px;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-service {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio-list .item {
  width: 370px;
}

.portfolio-list .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-list .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-list img {
  display: block;
}

.portfolio-list .item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.portfolio-list .item:hover,
.portfolio-list .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-box {
  position: relative;
  width: 370px;
  height: 294px;

  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.overlay > p {
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.portfolio-box:hover .overlay {
  transform: translateY(0);
}
